.container {
   background-color: #EEEFFE;
   display: flex;
   width: 100vw;
   // height: 70vh;
   min-height: 100vh;
   // padding: 100px 170px;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   overflow-x: hidden;

   .innerSection {
      width: 1100px;
      // height: 80vh;
      border-radius: 15px;
      background: #fff ;

      .colLeft {
         background-color: #7742ef;
         border-radius: 15px;
         background-image: url('../Assets/Images/Vector1.png');
         background-position-y: bottom;
         background-repeat: no-repeat;
         background-size: 100%;
         padding: 30px;
         min-height: 600px;
         // height: 600px;
         // position: relative;

         h1 {
            color: #FFF;
            font-family: Inter;
            font-size: 44px;
            font-weight: 500;
            padding-top: 30px;
         }

         .ptxt {
            color: #FFF;
            font-family: Inter;
            font-size: 20px;
            font-weight: 300;
            line-height: 30px;
            
         }

         .ptxt2 {
            color: #FFF;
            font-family: Font Awesome 5 Free;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            position: absolute;
            bottom: 50px;
         }

      }

      .colRight {
         border-radius: 15px;
         padding: 0px 30px;

         h1 {
            color: #1A191C;
            font-family: Inter;
            font-size: 40px;
            font-weight: 700;
         }

         p {
            color: #756892;
            font-family: Inter;
            font-weight: 500;
            line-height: 24px;
         }

         .txt2 {
            color: #756892;
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
         }

         .frgt {
            color: #7742EF;
            text-align: center;
            font-family: Inter;
            font-weight: 400;
            line-height: 24px;
            margin-top: 30px;
         }
      }

   }
}